name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.x'

    - name: Restore dependencies
      run: dotnet restore ./CombatCalculator/CombatCalculator.sln

    - name: Build
      run: dotnet build ./CombatCalculator/CombatCalculator.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test ./CombatCalculator/CombatCalculator.sln --no-restore --verbosity normal
